{% extends 'base.html' %}

{% block title %}
Менеджер задач - {{ title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in tasks %}
<div class="card mb-3">
    <div class="card-header">
        {% if item.is_favorite %}
        <p class="card-text">В избранных</p>
        {% else %}
        <p class="card-text">Не добавлено в избранное</p>
        {% endif %}
    </div>
        <div class="card-header">
        {% if item.completed %}
        <p class="card-text"> Задача завершена {{ item.updated_at }}</p>
        {% else %}
        <p class="card-text">Дата завершения задачи: {{ item.completed_at }}</p>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description|linebreaks|truncatewords:50 }}</p>
        <div class="d-grid gap-2 col-3">
            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать больше</a>
            <a href="{% url 'update_task' item.slug %}" class="btn btn-primary">Обновить задачу</a>
<!--            {% if item.is_favorite %}-->
<!--            <a href="{% url 'update_task' item.slug %}" class="btn btn-outline-danger">Удалить из избранных</a>-->
<!--            {% else %}-->
<!--            <a href="{{ item.all_favorites.get_absolute_url }}" class="btn btn-outline-success">Добавить в избранное</a>-->
<!--            {% endif %}-->
            {% if not item.completed %}
            <a href="{% url 'update_task' item.slug %}" class="btn btn-outline-success">Завершить задачу</a>
            {% endif %}
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|timesince }}
    </div>
</div>
{% endfor %}
{% endblock %}


