{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ task_item.title }}</h5>
        <p class="card-text">{{ task_item.description|linebreaks }}</p>
        <div class="d-grid gap-2 col-3">
            <a href="{{ item.change_task.get_absolute_url }}" class="btn btn-primary">Обновить задачу</a>
            {% if item.is_favorite %}
            <a href="{% url 'update_task' item.pk %}" class="btn btn-outline-danger">Удалить из избранных</a>
            {% else %}
            <a href="{{ item.favorites.get_absolute_url }}" class="btn btn-outline-success">Добавить в избранное</a>
            {% endif %}
            {% if item.completed %}
            <p class="card-text"> Задача завершена {{ item.updated_at }}</p>
            {% else %}
            <a href="{{ item.is_completed.get_absolute_url }}" class="btn btn-outline-success">Завершить задачу</a>
            {% endif %}
            <a href="{{ item.delete_task.get_absolute_url }}" class="btn btn-danger">Удалить задачу</a>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ task_item.created_at|timesince }}
    </div>
</div>
{% endblock %}



